{% extends 'base.html' %}

{% block title %}Contact - Python Togo{% endblock %}

{% block content %}
    <section class="container">
        <h2>Contact</h2>
        <p>Pour toute question, envoyez-nous un message via le formulaire.</p>
        <div class="form-container">
            <form id="contact-form" method="post" action="/api/v1/contact">
                <div class="form-group">
                    <label for="name">Nom *</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Sujet *</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Message *</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="btn">Envoyer</button>
            </form>
        </div>
    </section>
{% endblock %}
